/* -------------Editcontact.js-------- */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(212, 204, 204);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10vh;
  }
  
  .container h1 {
    margin-bottom: 20px;
  }
  
  .container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ebebeb;
    border: none;
  }
  .container input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(13, 50, 93, 0.5);
  }
  
  /* .buttonDiv{
    display: flex;
    justify-content: space-between;
  } */

  .updateButton {
    background-color: #5b5b5d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-right: 40px;
  }
  
  .cancel {
    background-color: #e8263a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 40px;
  }
  
  .cancle:hover,
  .updateButton:hover {
    opacity: 0.8;
  }